.hexagonContainer {
    width: 350px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns in the first row */
    justify-content: center;
}

.hexagonContainer .hexagonArea{
    transform: translateX(-10px);
    display: contents;
}

.hexagonContainer .hexagonArea .hexagon{
    position: relative;
    width: 50px; /*keep ratio of width to height*/
    height: 62.5px; /*keep ratio of width to height */
    margin: -5px 5px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    background: #E5AC3F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: .2s;
    margin-left: -1px;
}

.hexagonContainer .hexagonArea .hexagon img{
    margin-top: 0px;
    width: 50px;
}

.hexagonContainer .hexagonArea .hexagon h6{
    font-weight: 600;
    margin-top: 0px;
    font-size: 10px;
    letter-spacing: 1px;
    text-wrap: wrap;
}

.hexagonContainer .hexagonArea .hexagon:hover{
    transform: scale(1.2);
}

/* Change rows to 3 hexagons after every 4 */
/* have to do individually or else messes up hover scaling */
.hexagonContainer .hexagonArea .hexagon:nth-child(7n+5) {
    grid-column: 2 / span 1;
    margin-left: -29px; /*WORKING ON THISmove left right*/
}

.hexagonContainer .hexagonArea .hexagon:nth-child(7n+6) {
    grid-column: 3 / span 1;
    margin-left: -29px; /*move left right*/
}

.hexagonContainer .hexagonArea .hexagon:nth-child(7n+7) {
    grid-column: 4 / span 1;
    margin-left: -29px; /*move left right*/
}

/* Default for other hexagons, 4 columns */
.hexagonContainer .hexagon:nth-child(7n+1),
.hexagonContainer .hexagon:nth-child(7n+2),
.hexagonContainer .hexagon:nth-child(7n+3),
.hexagonContainer .hexagon:nth-child(7n+4) {
    grid-column: span 1;
}